<header>
    <div class="container">
        <a routerLink="/" class="Logo">AlbumModel</a>
        <nav>
            <ul>
                <li>

                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">

                    <a routerLink="/dashboard">Wael</a>
                    <div class="menu">
                        <a routerLink="/login">Albums</a>
                        <a routerLink="/login">Artists</a>
                        <a>logout</a>
                    </div>
                </li>


            </ul>
        </nav>
    </div>
</header>
